.container {
  max-width: 1128px;
  margin: 0 auto;
  padding: 0 2rem;
}

.post {
  max-width: 720px;
  margin: 5rem auto 0;

  h1 {
    font-size: 3.5rem;
    font-weight: 900;
  }
}
.postContent {
  margin-top: 2rem;
  line-height: 2rem;
  font-size: 1.125rem;
  text-align: justify;
}
