.container {
  max-width: 1128px;
  margin: 0 auto;
  padding: 0 2rem;

  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 2rem;
  align-items: flex-start;
}

.post {
  max-width: 720px;
  margin: 5rem auto 0;

  h1 {
    font-size: 3.5rem;
    font-weight: 900;
  }
  p {
    padding: 1rem 0;
  }
}
.postContent {
  margin-top: 2rem;
  line-height: 2rem;
  font-size: 1.125rem;
  text-align: justify;
}
