.sidebar {
  margin: 5.8rem 0;
  background: var(--gray-800);
  border-radius: 8px;
  overflow: hidden;
}
.cover {
  display: block;
  width: 100%;
  height: 10rem;
  object-fit: cover;
}
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;

  strong {
    margin-top: 1rem;
  }
  @media screen and (max-width: 768px) {
    strong,
    span {
      font-size: 62.5%;
    }
    -ms-text-size-adjust: 1.625rem;
  }
}

.sidebar footer {
  border-top: 1px solid var(--gray-600);
  margin-top: 1.5rem;
  padding: 1.5rem 2.5rem 2rem;

  a {
    width: 100%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--yellow-500);
    text-decoration: none;
    transition: color 0.2s;
    &:hover {
      color: var(--yellow-400);
    }
  }

  .socialLinks {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
